# dependencias
/node_modules

# next
/.next
/out
tsconfig.tsbuildinfo

# produccion
/build

# entorno — NUNCA subir secretos
.env
.env*.local

# prisma
/prisma/*.db

# sistema
.DS_Store
*.pem
npm-debug.log*
